<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand">
      <img src="" alt="BlogSpot" class="nav-icon">
    </a>
    <ul class="navbar-menu">
      <li class="navbar-item"><a href="/home" class="navbar-link">Home</a></li>
      <li class="navbar-item"><a href="/dashboard" class="navbar-link">Account</a></li>
      <li class="navbar-item"><a href="/login" class="navbar-link">Logout</a></li>
    </ul>
  </div>
</nav>