<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand">
      {{!-- <img src="/images/yellow_bang.jpeg" alt="BlogSpot" class="nav-icon"> --}}
    </a>
    <ul class="navbar-menu">
      <li class="navbar-item"><a href="/homepage" class="navbar-link">Home</a></li>
      <li class="navbar-item"><a href="/dashboard" class="navbar-link">Dashboard</a></li>
      <li class="navbar-item"><a href="/login" class="navbar-link">Login</a></li>
      <li class="navbar-item"><a href="/login" id="logoutUser" class="navbar-link">Logout</a></li>
    </ul>
  </div>
</nav>

{{!-- <script src="/js/dashboardPage.js"></script> --}}