<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechBlogSpot</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon7.ico">
  <link rel="stylesheet" href="css/styles.css">
</head>

<h1>TechBlogSpot</h1>


<body>
  <!-- Navigation bar -->
{{> navbar }}
    
{{{ body }}}

{{!-- <script src="./js/app.js"></script> --}}
</body>

