{{!-- MAYBE THIS COULD BE THE DASHBOARD --}}
<div class="container">
<h1>DASHBOARD</h1>
</div>




<form class="login_form">
<h3>Ready to post?</h3>
  {{{ subject }}}
  <input id='newpostSub' type="text" name="newpostSub" placeholder="Subject of your blog"/>
  {{{ body }}}
  <input id='newpostBod' type="text" name="newpostBod" placeholder="Start your blog post..."/>
  <button id='postBtn'>Submit New Blog Post</button>
</form>

<script src="/js/dashboardPage.js"></script>



{{!-- <body>
</body> --}}
