{{!-- MAYBE THIS COULD BE THE DASHBOARD --}}

<h1>DASHBOARD</h1>
<p>Allows users to post from here </p>



<form class="login_form">
<p>Ready to post?</p>
  {{{ subject }}}
  <input id='newpostSub' type="text" name="newpostSub" placeholder="Subject of your blog"/>
  {{{ body }}}
  <input id='newpostBod' type="text" name="newpostBod" placeholder="Start your blog post..."/>
  <button id="newpostBtn">Submit New Blog Post</button>
</form>

<body>
    {{{ sentence }}}
</body>
