<div class="blogpost-container ">
{{#each blogs as |blog|}}
{{!-- want to display the username and date and time of post --}}
<h5>From:{{user.username}}</h5> 
<div>
    {{blog.title}}
</div>
<div>
    {{blog.content}}
</div>
{{/each}}
</div>