
<div class="container">
<h2>HOME/LOGIN PAGE </h2>
<p>This is a full-stack blog post application</p>
</div>

<form class="login_form">
  <h3>LOGIN</h3>
  <input id='username' type="text" name="username" placeholder="Username"/>
  <input id='password' type="password" name="password" placeholder="Enter Password"/>
  <button id="submitBtn">Log In</button>
  <p>_________</p>
  <a href="/signup" id='signupLink'>Need a username? Sign Up </a>
</form>

<script src="/js/app.js"></script>



