<h1>Sign Up for an acoount</h1>

<p> {{sentence}} </p>

<form>
  <input id='newuser' type="text" name="newuser" placeholder="Enter new Username"/>
  <input id='newpassword' type="password" name="password" placeholder="Enter new Password"/>
  <button id="newsubmitBtn">Submit</button>
</form>