<h1>Sign Up for an acoount</h1>

<p> {{sentence}} </p>

<form>
  <input id='users' type="text" name="users" placeholder="Enter new Username"/>
  <input id='users' type="text" name="password" placeholder="Enter new Password"/>
  <button id="submitBtn">Submit</button>
</form>