<div class="container">
<h1>SIGN UP</h1>
<p> {{sentence}} </p>
</div>



<form class="login_form">
  <h3>REGISTER</h3>
  <input id='newusername' type="text" name="newusername" placeholder="Enter new Username"/>
  <input id='newpassword' type="password" name="password" placeholder="Enter new Password"/>
  <button id="registerBtn">Submit</button>
</form>

<script src="/js/signupPage.js"></script>