<h1>Sign Up for an Account</h1>

<p> {{sentence}} </p>

<form>
  <input id='newusername' type="text" name="newusername" placeholder="Enter new Username"/>
  <input id='newpassword' type="password" name="password" placeholder="Enter new Password"/>
  <button id="newsubmitBtn">Submit</button>
</form>

<script src="/js/signupPage.js"></script>