<h1>Welcome</h1>
<p>This is a full-stack blog post application</p>
<form>
  <input id='users' type="text" name="users" placeholder="Username"/>
  <input id='users' type="text" name="password" placeholder="Enter Password"/>
  <button id="submitBtn">Log In</button>
</form>

<a href="">Need a username? Sign Up </a>

<body>
</body>