<h1>HOME/LOGIN PAGE </h1>
<p>This is a full-stack blog post application</p>
<form class="login_form">
  <input id='username' type="text" name="username" placeholder="Username"/>
  <input id='password' type="password" name="password" placeholder="Enter Password"/>
  <button id="submitBtn">Log In</button>
</form>

<a href="http://localhost:3001/signup" id='signupLink'>Need a username? Sign Up </a>
